@{
    ViewData["Title"] = "Home Page";
}

<div class="">
  
        <form action="/" runat="server" style="">
            <fieldset>
                <legend>Permanent Address</legend>
                <label>Province No:</label>
                <select>
                    <option>Select your province</option>  
                    <option>Province 1</option>
                    <option>Madhesh Province</option>
                </select> 
                <label>District</label>
                <select>
                    <option>Select your districte</option>  
                    <option>Khotang</option>
                    <option>Illam</option>
                </select>
                <label>Municipality</label>
                <select>
                    <option>Illam</option>
                    <option>Illam</option>
                    <option>Illam</option>
                </select>
                <label>Ward</label>
                <input type="number" max="29" min="1"/>
            </fieldset>
        </form>
    

        
</div>
